<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>KFUPM TOURNAMENTS</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">KFUPM TOURNAMENTS</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <div class="login">
          <form action="/login" method="POST">
            <label for="chk" aria-hidden="true">Login</label>
            <input type="email" name="username" placeholder="Email" required="">
            <input type="password" name="password" placeholder="Password" required="">
            <button type="submit" >Login</button>
          </form>
        </div>
          <!-- <li id="Publish"><a href="/compose">Publish</a></li> -->
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
